
/** CONFIGURACION GENERAL DE FONT, HEADER Y BREADCRUMB **/

/** FONT **/
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,500|Open+Sans:400,300);


body {
font-family: 'Open Sans', sans-serif;
margin-left: -60px;
font-size: 87%;}


/** HEADER **/
#header {
background: url("../images/header.png") top center no-repeat;
margin-left: 83px;
margin-top: 30px;
}

#main {
  margin-bottom: 0px;
}

.contexto-inicio #logo img {
  background-image: url("../images/integrar_recursos.png");
  background-repeat: no-repeat;
}

.contexto-consultoria #logo img {
  background-image: url("../images/integrar_recursos.png");
    background-repeat: no-repeat;

}

.contexto-capacitacion #logo img {
  background-image: url("../images/integrar_capacitacion.png");
}

.region-content {
  background: #fff;
  width: 1015px;
  left: -50px;
}

 body {
      background-image: url("../images/bg_background.jpg");

 }

/** FONDO PAGINA COMPLETA **/

#page, #main-wrapper { 
  background-image: url("../images/bg_background.jpg");
}
  
/** BREADCRUMB **/
.breadcrumb {
display: none;
}

/** HOME **/

#page-inicio {
  margin-top: -30px;
   padding-bottom: 30px;
}

/** MENU PRINCIPAL SEGUN CONTEXTO CONSULTORIA/CAPACITACION **/

#header .region-header {
    margin: 90px 0 0;
    height: 60px; 
}

.region-header .block-menu {
  width:535px; 
  margin:0px;
}

.region-header .block-menu .menu li {
  list-style: none;
  float:left;
  margin-left: -12px;
  position:relative;
  z-index:1;
}

.region-header .block-menu .menu li:hover{
  z-index:2;
}

.region-header .block-menu .menu li a{
  font-family: 'Open Sans Condensed', sans-serif;
  color: #000;
  height:50px;
  padding:0 12px;
  text-transform: uppercase;
  width: 90px;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  font-weight:bold
  -webkit-border-top-left-radius: 30px;
  -webkit-border-top-right-radius: 15px;
  -moz-border-radius-topleft: 30px;
  -moz-border-radius-topright: 15px;
  border-top-left-radius: 30px;
  border-top-right-radius: 15px;
  border: 1px inset #f1f1f1;
  background: rgba(203,203,203,1);
  background: -moz-linear-gradient(top, rgba(203,203,203,1) 0%, rgba(255,255,255,1) 91%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(203,203,203,1)), color-stop(91%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(203,203,203,1) 0%, rgba(255,255,255,1) 91%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top, rgba(203,203,203,1) 0%, rgba(255,255,255,1) 91%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(203,203,203,1) 0%, rgba(255,255,255,1) 91%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(203,203,203,1) 0%, rgba(255,255,255,1) 91%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cbcbcb', endColorstr='#ffffff', GradientType=0 );
  display: table-cell;
  vertical-align: middle;
}

.contexto-consultoria .region-header .block-menu .menu li a:hover,
.contexto-consultoria .region-header .block-menu .menu li a:active {
color: #fff;
background: none;
background-image: -webkit-gradient.    linear,
    left top,
    left bottom,
    color-stop(0.39, #64B35F),
    color-stop(0.63, #4D8A43)
);
background-image: -o-linear-gradient(bottom, #64B35F 39%, #4D8A43 63%);
background-image: -moz-linear-gradient(bottom, #64B35F 39%, #4D8A43 63%);
background-image: -webkit-linear-gradient(bottom, #64B35F 39%, #4D8A43 63%);
background-image: -ms-linear-gradient(bottom, #64B35F 39%, #4D8A43 63%);
background-image: linear-gradient(to bottom, #64B35F 39%, #4D8A43 63%);
color: #fff;
z-index:500 !important;
}

.contexto-capacitacion .region-header .block-menu .menu li a:hover,
.contexto-capacitacion .region-header .block-menu .menu li a:active  {
color: #fff;
background: none;
 background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.39, #1D68A1),
    color-stop(1, #1B364A)
);
background-image: -o-linear-gradient(bottom, #1D68A1 39%, #1B364A 100%);
background-image: -moz-linear-gradient(bottom, #1D68A1 39%, #1B364A 100%);
background-image: -webkit-linear-gradient(bottom, #1D68A1 39%, #1B364A 100%);
background-image: -ms-linear-gradient(bottom, #1D68A1 39%, #1B364A 100%);
background-image: linear-gradient(to bottom, #1D68A1 39%, #1B364A 100%);
color: #fff;
z-index:500 !important;
 }

 

/** SOLAPA PARA CAMBIAR DE CONTEXTO CONSULTORIA/CAPACITACION **/

#featured {
  padding:0px;
  margin:0px;
  border:none;
}

#featured .block-menu h2 {
  display:none;
}

#featured .block-menu {
  position: fixed;
  top: 150px;
  right:0px;
  z-index:999;
}

#featured .block-menu ul li{
  list-style:none;
  padding: 0px;
}

#featured .block-menu ul li a{
  display:block;
  height:91px;
  width:36px;
  font-size: 0px;
  color:transparent;
  content:" ";
  opacity: 0.7;
  transition: width 1s, opacity 1s;
  -webkit-transition: width 1s, opacity 1s;
}

#featured .block-menu ul li a:hover{
  width:156px;
  opacity: 1;
}

.contexto-capacitacion #featured .block-menu ul li a{
  background-image: url("../images/btn_ir_consultoria.png");
}

.contexto-consultoria #featured .block-menu ul li a{
  background-image: url("../images/btn_ir_capacitacion.png");
}

/** PAGINA PRINCIPAL HOME **/

/** Caja para botones consultoria y capacitacion en la home  **/
.caja-boton-home {
width: 450px;
margin-left: 100px ;
opacity: 0.8;
filter: alpha(opacity=80); /* For IE8 and earlier */
}

.caja-boton-home:hover   {
  opacity: 1;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}


/**SLIDESHOW PARA INICIO Y CONSULTORIA**/

.pane-slideshow-para-la-p-gina-de-inicio {
position:relative;
top: -30px;
z-index: 100;
}

.pane-slideshow-para-la-p-gina-de-inicio .more-link a {
font-size:0px;
content:" ";
color:transparent;
background-image: url("../images/info_consultoria.png");
display:block;
width: 79px;
height: 38px;
opacity:0.8;
position:absolute;
bottom:80px;
left:300px;
z-index:200;
}

.pane-slideshow-para-la-p-gina-de-inicio .more-link a:hover{
opacity:1;
}

.views-slideshow-pager-field-item {
float: left;
}

.slideshow-consultoria  .views-content-counter {
font-size:0px;
content:" ";
color:transparent;
padding: 5px 5px;
width: 20px;
height: 20px;
background: url("../images/2.png") top left no-repeat;
}

.slideshow-consultoria .active .views-content-counter {
background: url("../images/1_con.png") top left no-repeat;
}

.views-slideshow-controls-bottom {
left: 100px;
bottom:80px;
position: relative;
z-index:200;
}

 .views-slideshow-inicio {
float: left;
 }


/** SECCION CONSULTORIA **/

/** Caja con imagen bajada (abajo del slider) **/

.caja-consultoria {
width: 800px;
margin-left: auto ;
margin-right: auto ;
}

.caja-consultoria h2 {
display: none;
}

.caja-consultoria .field-name-body {
    font-weight: bold;
    text-align: justify;
    margin-left: 200px;
    margin-top: -144px;
}

 

/**Caja de título bajada **/
.caja-bajada   {
width: 450px;
margin-left: auto ;
margin-right: auto ;
top: 20px;
}

.caja-bajada h2 {
text-align: center;
font-size: 28px !important;
}

.caja-bajada p {
text-align: center;
margin-top: -25px;
}
 

/** Controles para Sliders de Valores  **/

.pane-vista-slideshow-programas {
position: absolute;
}

 
.pane-vista-slideshow-valores   .views-slideshow-controls-text-previous {
    background-image: url("../images/left-01.png");
    color: transparent;
    content: " ";
    display: block;
    font-size: 0;
    height: 35px;
    left: -100px;
    opacity: 1;
    position: absolute;
    top: 0px;
    width: 22px;
}

.pane-vista-slideshow-valores  .views-slideshow-controls-text-next {
    background-image: url("../images/right-01.png");
    color: transparent;
    content: " ";
    display: block;
    font-size: 0;
    height: 35px;
    left: 180px;
    opacity: 1;
    position: absolute;
    top: 0px;
    width: 22px;
}


.pane-vista-slideshow-programas   .views-slideshow-controls-text-previous {
    background-image: url("../images/left-01.png");
    color: transparent;
    content: " ";
    display: block;
    font-size: 0;
    height: 35px;
    left: -110px;
    opacity: 1;
    top: 0px;
    position: absolute;
    width: 22px;
}

.pane-vista-slideshow-programas  .views-slideshow-controls-text-next {
    background-image: url("../images/right-01.png");
    color: transparent;
    content: " ";
    display: block;
    font-size: 0;
    height: 35px;
    left: 200px;
    opacity: 1;
    position: absolute;
    top: 0px;
    width: 22px;
}


/** Controles para Sliders de Valores y Programas ejecutivos **/

.views_slideshow_controls_text_pause,
.views_slideshow_controls_text_play {
display: none;
}


.pane-vista-slideshow-programas .views-slideshow-controls-text .views-slideshow-controls-text-previous {
font-size:0px;
content:" ";
color:transparent;
background-image: url("../images/left-01.png");
display:block;
width: 22px;
height: 35px;
opacity:1;
position:absolute;
bottom:50px;
left:-110px;
}
 
.pane-vista-slideshow-programas .views-slideshow-controls-text .views-slideshow-controls-text-next {
font-size:0px;
content:" ";
color:transparent;
background-image: url("../images/right-01.png");
display:block;
width: 22px;
height: 35px;
opacity:1;
position:absolute;
bottom:50px;
left:235px;
}
 
.pane-vista-slideshow-valores h2 {
color: #4d8a43;
}

.pane-vista-slideshow-programas h2 {
color: #1d639a;
}

.pane-vista-slideshow-valores {
height: 200px;
margin-left: 100px;
margin-top: 60px;
}

.pane-vista-slideshow-programas {
height: 200px;
margin-left: 60px;
}

/**Caja de Envio CV **/

 
.envio-cv1 {
width: 80px;
height: 500px;
padding: 10px 10px 20px 10px;
}  

.caja-envio-cv {
background-image: url("../images/base_envia_cv_2.png");
background-position: 0px 30px;
background-repeat: no-repeat;
height: 335px;
margin-left: 0px;
padding: 40px 0 0 40px; 
}

.caja-envio-cv .form-item label {
 margin-top: -10px;
}

.caja-envio-cv h2 {
color: #fff;
margin-left: 48px;
}


.caja-envio-cv .description {
  display: none;
}

.caja-envio-cv input.form-text, 
.caja-envio-cv textarea.form-textarea, 
.caja-envio-cv select.form-select {
 background: #ccc; 
}

.caja-envio-cv #edit-submitted-adjuntar-el-cv-upload-button  {
border: 0;
font-size:0pt;
margin-top: -10px;
background: none;
background: transparent url("../images/btn_envio_cv.png") no-repeat center top;
overflow: hidden;
height: 55px;
width: 50px;
}

.caja-envio-cv #edit-submitted-adjuntar-el-cv-upload   {
}

 
.caja-envio-cv .webform-submit    {
margin-left: 240px;
margin-top: -30px;
border: 0;
font-size:0pt;
float: left;
background: none;
background: transparent url("../images/btn_enviar.png") no-repeat center top;
overflow: hidden;
height: 45px;
width: 99px;
}

.caja-envio-cv .webform-submit:hover    {
background: transparent url("../images/btn_enviar_hover.png") no-repeat center top;
}

.form-text {
width: 320px
}


#webform-client-form-48 {
  padding-left: 26px;
}


/** MISION VALORES **/

.pane-mision-valores {
  padding-bottom: 60px;
}

.view-mision-valores {
width: 800px;
margin-left: auto ;
margin-right: auto ;
}

.view-mision-valores .titulo-vision-valores {
color: #4d8a43;
font-weight: 700;
margin-left: 80px;
margin-top: -70px;
}

.view-mision-valores .bajada-vision-valores {
color: #cbcbcc;
font-weight: 600;
margin-left: 80px;
margin-top: -5px;
}

.view-mision-valores p {
margin-left: 120px;
text-align: left;
color: black;
width: 720px
}

/** PANEL BUSQUEDAS EN LA HOME DE CONSULTORIA **/
.panel-busquedas {
background-image: url("../images/base_programas.png");
background-position: 0px 30px;
background-repeat: no-repeat;
padding: 30px 80px 0px 70px;
text-align: justify;
height: 250px;
margin-left: 45px;
margin-top: 100px;
}


.panel-busquedas h2 {
text-transform: capitalize;
margin-left: 0px;
color: #4d8a43;
}

.panel-busquedas a {
text-transform: none;
color: inherit;
}

.panel-busquedas  .views-slideshow-controls-text-next {
  background-image: url("../images/right-01.png");
    color: transparent;
    content: " ";
    display: block;
    font-size: 0;
    height: 35px;
    opacity: 1;
    position: absolute;
    width: 22px;
    left: 220px;
    top: 0px;
}

.panel-busquedas  .views-slideshow-controls-text-previous {
  background-image: url("../images/left-01.png");
    color: transparent;
    content: " ";
    display: block;
    font-size: 0;
    height: 35px;
    opacity: 1;
    position: absolute;
    width: 22px;
 left: -150px;
 top: 0px;
}



.panel-busquedas .views-label-field-zona {
font-weight:bold
}

.panel-busquedas .views-field-title {
font-weight:bold
}

.panel-busquedas .more-link a {
 color: #4d8a43;
  }

/**CAPACITACION CORPORATIVA **/

.panel-capacitacion-corporativa {
/**background-image: url("../images/base_programas.png");
background-position: 0px 30px;
background-repeat: no-repeat;
text-align: left;
padding-top: 80px;**/
width: 360px;
margin-left: 30px;
text-align: justify;
}

.panel-capacitacion-corporativa h2 {
color: #64B35F;
}

.panel-capacitacion-corporativa .field-name-field-enlace a {
font-size:0px;
content:" ";
color:transparent;
background-image: url("../images/info_consultoria.png");
display:block;
width: 76px;
height: 38px;
margin-left: 315px;
margin-top: -20px;
opacity:1;
}

.panel-capacitacion-corporativa .field-name-field-enlace:hover a {
background-image: url("../images/info_consultoria_over.png");
}




/** BUSQUEDAS LABORALES **/

.pane-vista-busquedas  {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

.pane-vista-busquedas h2 {
 color: #4d8a43;
 margin-left: 7px;
}

.pane-vista-busquedas .views-row {
background-image: url("../images/base_busqueda_laboral.png");
background-position: 0px 0px;
background-repeat: no-repeat;
padding-top: 20px; 
height: 250px;
}

.pane-vista-busquedas .views-field-title,
.pane-vista-busquedas .views-label-field-empresa,
.pane-vista-busquedas .views-label-field-zona,
.pane-vista-busquedas .views-field-body {
 padding-left: 40px; 

}

.pane-vista-busquedas .views-field-title,
.pane-vista-busquedas .views-label-field-empresa,
.pane-vista-busquedas .views-label-field-zona  {
 color: #4d8a43;
 }

.pane-vista-busquedas .views-field-body {
width: 780px

}

.views-field .ver-mas {
  margin-left: 40px;
}


/** POPUP BUSQUEDAS **/

.busquedas-popup a  {
  margin-left: 700px;
  border: 0;
  font-size:0pt;
  background: none;
  background: transparent url("../images/btn_enviar.png") no-repeat center top;
  overflow: hidden;
  height: 45px;
  width: 99px;

}

.popup-element-body {
  background-image: url("../images/base_destacados.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  height: 245px;
  margin-left: 0;
  padding: 25px 35px 35px;
  position: relative;
  text-align: left;
  width: 375px;
  left: -500px;
  top: -100px;

 }

.popup-element-body a.popup-close-button {
  background-image: url("../images/close.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  font-size:0pt;
  height: 34px;
  width: 34px;
}



/** PANEL SLIDESHOW DESTACADOS en BUSQUEDAS LABORALES **/


 .panel-destacados {
  background-image: url("../images/base_destacados.png");
  background-position: 40px 20px;
  background-repeat: no-repeat;
  padding-top: 20px; 
  height: 310px; 
  width: 480px;
  margin-top: 20px;
}

.panel-destacados .pane-title {
  color: #4d8a43;
  padding-left: 80px;

}
.panel-destacados .pane-content  {
  padding: 10px 0 0 110px;
  width: 300px;
}
.panel-destacados   .views-slideshow-controls-text-previous {
    background-image: url("../images/left-01.png");
    color: transparent;
    content: " ";
    display: block;
    font-size: 0;
    height: 35px;
    left: -140px;
    opacity: 1;
    position: absolute;
    top: 0px;
    width: 22px;
}

.panel-destacados  .views-slideshow-controls-text-next {
    background-image: url("../images/right-01.png");
    color: transparent;
    content: " ";
    display: block;
    font-size: 0;
    height: 35px;
    left: 210px;
    opacity: 1;
    position: absolute;
    top: 0px;
    width: 22px;
}


/** PAGINA SELECCION DE PERSONAL **/




.bajada-seleccion-personal .node-imagen-con-bajada {
 width: 1220px;
}
 

.bajada-seleccion-personal .node-imagen-con-bajada .field-name-body {
  font-size: 1.6em;
  margin-left: 290px;
  text-align: justify;
  margin-top: -100px;
  width: 430px;
}

.bajada-seleccion-personal .node-imagen-con-bajada img {
margin-left: 750px;
 }

.principal-seleccion-personal .node-imagen-con-bajada {
 width: 1220px;
}

.principal-seleccion-personal {
  padding: 20px 60px;
}

.principal-seleccion-personal .node-imagen-con-bajada .field-name-body {
   margin-left: 470px;
   text-align: justify;
   width: 400px;
}

 .principal-seleccion-personal .field-item img {
  float: left;
 }


/** CAPACITACION CORPORATIVA **/


.capacitacion-corporativa-bajada .pane-title {
 margin-top: 100px;
 color: #4d8a43;
 font-size: 1.6em;
 margin-left: -40px;
 margin-top: 110px;
}


.capacitacion-corporativa-bajada img {
 margin-left: -200px;
 margin-top: -120px;

}
.capacitacion-corporativa-bajada   {
 font-size: 1.6em;
 margin-left: 290px;
 text-align: justify;
 margin-top: -100px;
 width: 430px;
}


.capacitacion-corporativa-bajada  .field-name-body {
  text-align: center;
  margin-top: -50px;
}

.principal-capacitacion-coporativa {
 
}


.principal-capacitacion-coporativa .node-imagen-con-bajada .field-name-body {
  float: left;
  margin-left: 40px;
  margin-top: -360px;
  text-align: justify;
  width: 400px;
}

.principal-capacitacion-coporativa .field-item img {
   margin-left: 470px;
 }


 .panel-ubicacion .pane-title {
  color: #4d8a43;
 font-size: 1.6em;
 }


.panel-ubicacion .node-imagen-con-bajada .field-name-body {
  margin-left: 0px;
  text-align: left;
  margin-top: -140px;
  width: 300px;
}

.panel-ubicacion .node-imagen-con-bajada img {
margin-left: 250px;
 }



/** CONTACTO CONSULTORIA **/

.contacto-consultoria {
 padding: 0 80px;
}
.contacto-consultoria .pane-title {
color: #4d8a43;
 font-size: 1.6em;
}

.contacto-consultoria .form-textarea-wrapper {
  background: none transparent;
}


.contacto-consultoria .form-submit {
    background: url("../images/btn_enviar.png") no-repeat scroll center top transparent;
    border: 0 none;
    float: left;
    font-size: 0;
    height: 45px;
    margin-left: 120px;
    overflow: hidden;
    width: 99px;
}

.contacto-consultoria .form-submit:hover {
  background: url("../images/btn_enviar_hover.png") no-repeat scroll center top transparent;
}

/** SECCION CAPACITACION**/

/**SLIDESHOW PARA CAPACITACION**/

.slideshow-capacitacion {
position:relative;
top: -15px;
z-index: 100;
}

.slideshow-capacitacion .views-content-counter {
font-size:0px;
content:" ";
color:transparent;
padding: 5px 5px;
width: 20px;
height: 20px;
background: url("../images/2.png") top left no-repeat;
}

.slideshow-capacitacion .active .views-content-counter {
background: url("../images/1_cap.png") top left no-repeat;
}

.slideshow-capacitacion .more-link a {

background-image: url("../images/info_capacitacion.png");
font-size:0px;
content:" ";
color:transparent;
display:block;
width: 79px;
height: 38px;
opacity:0.8;
position:absolute;
bottom:95px;
left:300px;
z-index:200;
}

/** Caja con imagen bajada (abajo del slider) **/

.caja-capacitacion {
width: 800px;
margin-left: auto ;
margin-right: auto ;
}

.caja-capacitacion h2 {
color: #114f79;
font-weight: 700;
margin-left: 200px;
}

.caja-capacitacion .field-name-body {
    text-align: justify;
    font-weight: 500;
    margin-left: 200px;
    margin-top: -140px;
}




.pane-vista-slideshow-capacitacion h2 {
text-transform: capitalize;
margin-left: 50px;
font-size: 1.8em;
color: #1d639a;
}

.pane-vista-slideshow-capacitacion  {
padding-left: 60px;

}
/** BLOQUE NOVEDADES DE LA HOME DE CAPACITACION **/

.pane-bloque-novedades h2 {
text-transform: capitalize;
margin-left: 50px;
font-size: 1.8em;
color: #1d639a;
}

.pane-bloque-novedades {
position: relative;
background-image: url("../images/base_programas.png") ;
background-position: 0px 0px;
background-repeat: no-repeat;
padding: 50px 60px 50px 60px;
text-align: left;
height: 330px;
margin-left: 0px;
}

.pane-bloque-novedades .link-novedades a {
font-size:0px;
text-align: right;
content:" ";
color:transparent;
background-image: url("../images/info_capacitacion.png");
display:block;
width: 76px;
height: 38px;
margin-left: 200px;
margin-top: 100px;
opacity:1;
}
 
.pane-bloque-novedades .link-novedades:hover  a{
background-image: url("../images/info_capacitacion_over.png");
}

.pane-bloque-novedades .views-slideshow-cycle-main-frame-row-item {
width: 300px;
height: 100px;
}


.pane-bloque-novedades .views_slideshow_controls_text_previous {
    background-image: url("../images/left-01.png");
    color: transparent;
    background-repeat: no-repeat;
    content: " ";
    display: block;
    font-size: 0;
    height: 35px;
    left: -125px;
    opacity: 1;
    position: absolute;
    width: 22px;
}

.pane-bloque-novedades .views_slideshow_controls_text_next {
    background-image: url("../images/right-01.png");
    color: transparent;
    background-repeat: no-repeat;
    content: " ";
    display: block;
    font-size: 0;
    height: 35px;
    left: 210px;
    opacity: 1;
    position: absolute;
    width: 22px;
}


/** DIPLOMATURAS **/

.diplomaturas-bajada .pane-title {
 color: rgb(255,255,255); 
 margin-left: 40px;
 margin-top: -40px;
 background:  url("../images/diplomatura_bg.png") no-repeat 0 0;
 width: 358px ;
 height: 95px;
 padding: 25px 100px;
}

.diplomaturas-bajada img {
margin-left: 750px;
margin-top: -120px;
}


.principal-diplomaturas .node-imagen-con-bajada .field-name-body {
    margin-left: 40px;
    margin-top: -200px;
    text-align: justify;
    width: 400px;
}

.principal-diplomaturas .field-item img {
   margin-left: 490px;
   vertical-align: middle;
 }


/** CURSOS TECNICOS **/

.cursos-tecnicos-bajada h2 {
 color: #114f79;
 font-size: 1.6em;
 margin-left: 40px;
}

.cursos-tecnicos-bajada   {
 width: 800px;
 font-size: 1.6em;
}

.cursos-tecnicos-bajada  .field-name-body {
  text-align: center;
  margin-left: 290px;
 text-align: center;
}

.principal-cursos-tecnicos .node-imagen-con-bajada .field-name-body {
    margin-left: 40px;
    margin-top: -140px;
    text-align: justify;
    width: 400px;
}

.principal-cursos-tecnicos .field-item img {
   margin-left: 470px;
   vertical-align: middle;
 }


/** PROGRAMAS EJECUTIVOS **/

.programas-ejecutivos-bajada h2 {
 color: #114f79;
 font-size: 1.6em;
 margin-left: 40px;
}

.programas-ejecutivos-bajada   {
 width: 800px;
 font-size: 1.6em;
}

.programas-ejecutivos-bajada  .field-name-body {
  text-align: center;
  margin-left: 290px;
 text-align: center;
}

.principal-programas-ejecutivos .node-imagen-con-bajada .field-name-body {
    margin-left: 40px;
    margin-top: -240px;
    text-align: justify;
    width: 400px;
}

.principal-programas-ejecutivos .field-item img {
   margin-left: 470px;
   vertical-align: middle;
 }

/** NOVEDADES CAPACITACION **/

.imagen-header-novedades {
position: relative;
top: -30px;
z-index: 100;
}

.view-novedades-capacitacion  {
  width: 501px;
}

.view-novedades-capacitacion  h2 {
color: #114f79;

}

.view-novedades-capacitacion  .post-date {
margin-left: 315px;
}

.pane-novedades-diplomaturas .pane-title,
.pane-novedades-programas-ejecutivos  .pane-title,
.pane-novedades-cursos-tecnicos .pane-title {
  background-image: url("../images/base_top_capacitacion.png");
  background-repeat: no-repeat;
  display:block;
  margin-left: 50px;
  margin-top: 0px;
  padding-top: 25px;
  padding-left: 20px;
  padding-bottom: 20px;
  width: 560px;
}

.view-novedades-capacitacion .novedades-capacitacion-title {
font-size: 1.2em;
  margin-left: 20px;

}

.view-novedades-capacitacion .view-content {
 margin-left: 45px; 
 height: 400x;
}
 
 .view-novedades-capacitacion .novedades-capacitacion-body {
  height: 165px;
  padding: 10px 10px 10px 10px;
 }

 .view-novedades-capacitacion   img {
  background: transparent;
  margin-top: 20px;
  margin-left: 20px;
  float: left;
  padding: 0 15px 0 0;
 }

.view-novedades-capacitacion .views-slideshow-controls-bottom {
  position: initial;
  margin-left: 60px;
}


.view-novedades-capacitacion  .ver-mas a {
margin-left: 360px;
background: transparent url("../images/btn_ver.png") no-repeat 0 -43px;
font-size:0px;
content:" ";
color:transparent;
display:block;
position: relative;
width: 70px;
height: 45px;
}

.view-novedades-capacitacion  .ver-mas a:hover {
background-position: 0px 0px;
}


.view-novedades-capacitacion .views_slideshow_cycle_main  {
background-image: url("../images/top_caja_novedades1.png");
background-repeat: no-repeat;
background-position: center bottom;
display: block;
padding-left: 10px;
width: 490px;
z-index: 100;
height: 300px;
}

.view-novedades-capacitacion .views-slideshow-controls-bottom {
  margin-top: 15px;
  margin-left: 200px;
  margin-right: auto;
}

 .view-novedades-capacitacion .views-slideshow-controls-bottom .views_slideshow_controls_text_previous {
    background-image: url("../images/left.png");
    color: transparent;
    content: " ";
    display: block;
    background-repeat: no-repeat;
    font-size: 0;
    opacity: 1;
    position: absolute;
    width: 13px;
    height: 13px;
    margin-top: 5px;
}

.view-novedades-capacitacion .views-slideshow-controls-bottom .views_slideshow_controls_text_next {
  background-image: url("../images/right.png");
  color: transparent;
  content: " ";
  display: block;
    background-repeat: no-repeat;
    font-size: 0;
    opacity: 1;
    position: absolute;
    width: 13px;
    height: 13px;
    margin-left: 80px;
    margin-top: 5px;
}

.view-novedades-capacitacion .views-slideshow-controls-bottom .views-slideshow-pager-fields {
margin-left: 50px;
margin-bottom: 10px;
}  

 

.view-novedades-capacitacion  .views-content-counter {
opacity: 0.4;
}

 
.view-novedades-capacitacion  .views-content-counter .active {
opacity: 1;
}



 /** DESTACADOS CAPACITACION **/

.pane-novedades-destacados-capacitacion {
  width: 300px;
  margin-left: 150px;
}

 
.pane-novedades-destacados-capacitacion .pane-title ,
.pane-novedades-diplomaturas .pane-title ,
.pane-novedades-cursos-tecnicos .pane-title ,
.pane-novedades-programas-ejecutivos .pane-title {
  color: #114f79;
  font-size: 1.8em;
 }


/** CONTACTO CAPACITACION **/

.contacto-capacitacion {
 padding: 0 80px;
}
.contacto-capacitacion .pane-title {
color: #114f79;
 font-size: 1.6em;
}

.contacto-capacitacion .form-textarea-wrapper {
  background: none transparent;
}


.contacto-capacitacion .form-submit {
    background: url("../images/btn_enviar_cap.png") no-repeat scroll center top transparent;
    border: 0 none;
    float: left;
    font-size: 0;
    height: 45px;
    margin-left: 120px;
    overflow: hidden;
    width: 99px;
}

.contacto-capacitacion .form-submit:hover {
  background: url("../images/btn_enviar_hover.png") no-repeat scroll center top transparent;
}



/** MAPA PARA SECCION CONTACTO (comun a los dos contextos) **/

.node-mapa-de-ubicacion {
position: relative;
top: -30px;
z-index: 100;
}


/** FOOTER **/

#footer-wrapper {
    padding: 20px 5px 30px;
}

.region-footer-firstcolumn, .region-footer-secondcolumn, .region-footer-thirdcolumn, .region-footer-fourthcolumn {
    margin-top: 0px;
    float:none;   
    display:inline-block;
    width: 250px;
  }

#block-views-vista-footer-block {
padding: 10px 10px;
}

#footer-wrapper {
    font-size: 1em;
}

.contexto-consultoria #footer-wrapper a {
    color: #fff;
    text-decoration: none;
}

.contexto-capacitacion #footer-wrapper a {
    color: #fff;
    text-decoration: none;
}
#footer-wrapper a  {
    color: #000;
    text-decoration: none;
}

#footer-wrapper .block {
    border: none;
   }

.contexto-inicio #footer-wrapper {
background: #e1e2e3 url("../images/footer_home2.png") top center no-repeat  ;
    color: rgb(0, 0, 0);
}
 
.contexto-capacitacion #footer-wrapper {
background: #114f79 url("../images/footer_capacitacion.jpg") top center no-repeat;
    color: #fff;
}

.contexto-consultoria #footer-wrapper {
background: #4a8948 url("../images/footer_consultoria.jpg") top center no-repeat;
    color: #fff;
}

.region-footer-firstcolumn {
font-size: 11px;
}

.region-footer-secondcolumn  {
font-size: 11px;
text-decoration: none;
}

.social_links a {
  float:right;
  display:block;
  height: 45px;
  width: 46px;
  margin-left:10px;
}

.social_links a:hover {
  background-position: 0px -45px !important;
}

.contexto-capacitacion .social_links a.facebook {
  background: url("../images/btn_fb.png") no-repeat;
}

.contexto-capacitacion .social_links a.twitter {
  background: url("../images/btn_tw.png") no-repeat;
}

.contexto-capacitacion .social_links a.linkedin {
  background: url("../images/btn_ln.png") no-repeat;
}

.contexto-consultoria .social_links a.facebook {
  background: url("../images/btn_fb_c.png") no-repeat;
}

.contexto-consultoria .social_links a.twitter {
  background: url("../images/btn_tw_c.png") no-repeat;
}

.contexto-consultoria .social_links a.linkedin {
  background: url("../images/btn_li_c.png") no-repeat;
}

#footer-wrapper .block {
    margin: 0 ;
  }

#footer-logo   {
height: 47px;
width: 780px;
height: 47px;
margin: 50px auto 0;
background: transparent url('../images/logo_footer_integrar.png') no-repeat left top;
}

.contexto-consultoria #footer-logo   {
background: transparent url('../images/logo_footer_consultoria.png') no-repeat left top;
}

.contexto-capacitacion #footer-logo   {
background: transparent url('../images/logo_footer_capacitacion.png') no-repeat left top;
}



 /** NOVEDADES anterior de la home


.pane-bloque-novedades {
position: relative;
background-image: url("../images/base_programas.png") ;
background-position: 0px 30px;
background-repeat: no-repeat;
padding: 30px 30px 30px 30px;
text-align: left;
width: 400px;
height: 250px;
margin-left: 0px;
}

.pane-bloque-novedades .view-header {
  font-size:0px;
  content:" ";
  color:transparent;
  background-image: url("../images/novedades.png") ;
  display:block;
  width: 27px;
  height: 22px;
  opacity:1;
  position:absolute;
  top:90px;
  left:55px;
  background-repeat: no-repeat;
  display: block;
 } 
 
 .pane-bloque-novedades .view-content {
 margin-top: 20px;
  }

.pane-bloque-novedades h2 {
text-transform: capitalize;
margin-left: 50px;
font-size: 1.8em;
color: #1d639a;
}

.pane-bloque-novedades a {
color: rgb(0,0,0);
margin-left: 80px;
}

.pane-bloque-novedades .more-link a {
font-size:0px;
content:" ";
color:transparent;
background-image: url("../images/info_capacitacion.png");
display:block;
width: 76px;
height: 38px;
margin-left: 315px;
margin-top: 30px;
opacity:1;
}

.pane-bloque-novedades .more-link:hover a {
  background-image: url("../images/info_capacitacion_over.png");
}

**/